Panutad Sirikul

650510714

Lab03

229323 Sec 002

## **เชื่อมต่อฐานข้อมูล pokemon.db(Connect Database)**

In [1]:
import sqlite3

conn = sqlite3.connect('pokemon.db')
print("Opened database successfully")
conn.close()

Opened database successfully

## **สร้างตารางฐานข้อมูล (Create Table)**

### สร้างตาราง Pokemon

In [2]:
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute('''
  CREATE TABLE CATCH_POKEMON
         (ID INTEGER PRIMARY KEY AUTOINCREMENT,
         KIND           TEXT    NOT NULL,
         FOUND_NO       INT     NOT NULL,
         CAUGHT_NO      INT     NOT NULL)
         ''')

conn.close()
print("Table created successfully")

Table created successfully

### นำข้อมูลเข้าตาราง Pokemon

In [3]:
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Pikasu', 10, 7)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Carpeter', 15, 8)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Beedle', 32, 24)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Poppo', 17, 9)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Koratta', 16, 12)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Onitsumi', 20, 14)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Arbo', 28, 17)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Konpang', 12, 5)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Neauroma', 5, 4)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Tamatama', 18, 8)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Kokoon', 8, 5)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Pigeon', 26, 17)")
  conn.execute("INSERT INTO CATCH_POKEMON (KIND, FOUND_NO, CAUGHT_NO) VALUES ('Camel', 17, 12)")
  conn.commit()

conn.close()
print("Records created successfully")

Records created successfully

### สร้างตาราง find_pokemon

In [4]:
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute('''CREATE TABLE FIND_POKEMON
         (ID INTEGER PRIMARY KEY    AUTOINCREMENT,
         KIND            TEXT    NOT NULL,
         SCHOOL          INT     NOT NULL,
         PLAYGROUND      INT     NOT NULL,
         SHOPPING_MALL   INT     NOT NULL)
         ''')

conn.close()
print("Table created successfully")

Table created successfully

### นำข้อมูลเข้าตาราง find_pokemon

In [5]:
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Pikasu', 5, 7,5)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Carpeter', 8, 5, 10)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Beedle', 18,13,25)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Poppo', 10, 7, 9)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Koratta', 12, 8, 10)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Onitsumi', 11, 9, 14)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Arbo', 15, 22, 8)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Konpang', 7, 6, 6)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Neauroma', 3, 2, 4)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Tamatama', 6, 10, 10)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Kokoon', 4, 9, 3)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Pigeon', 16, 15, 12)")
  conn.execute("INSERT INTO FIND_POKEMON (KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL) VALUES ('Camel', 8, 11, 10)")
  conn.commit()

conn.close()
print("Records created successfully")

Records created successfully

## **สร้าง Utility สำหรับดูข้อมูล**

In [6]:
import numpy as np
import pandas as pd

def get_data(cursor):
  all_rows = cursor.fetchall()
  #[all_rows.append(np.array(row)) for row in cursor]
  column_names = [description[0] for description in cursor.description]
  df = pd.DataFrame(data=all_rows, columns = column_names)
  # ซ่อน index
  blankIndex=[''] * len(df)
  df.index=blankIndex
  return df

## **คิวรี่ข้อมูลจากตาราง(Select From Table)**

In [7]:
conn = sqlite3.connect('pokemon.db')

with conn:
  cursor = conn.execute("SELECT KIND, FOUND_NO, CAUGHT_NO FROM CATCH_POKEMON")

df=get_data(cursor)
conn.close()
print("Operation done successfully")
df

Operation done successfully

      KIND  FOUND_NO  CAUGHT_NO
    Pikasu        10          7
  Carpeter        15          8
    Beedle        32         24
     Poppo        17          9
   Koratta        16         12
  Onitsumi        20         14
      Arbo        28         17
   Konpang        12          5
  Neauroma         5          4
  Tamatama        18          8
    Kokoon         8          5
    Pigeon        26         17
     Camel        17         12

In [8]:
conn = sqlite3.connect('pokemon.db')

with conn:
  cursor = conn.execute("SELECT * FROM FIND_POKEMON")

df=get_data(cursor)
conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID      KIND  SCHOOL  PLAYGROUND  SHOPPING_MALL
   1    Pikasu       5           7              5
   2  Carpeter       8           5             10
   3    Beedle      18          13             25
   4     Poppo      10           7              9
   5   Koratta      12           8             10
   6  Onitsumi      11           9             14
   7      Arbo      15          22              8
   8   Konpang       7           6              6
   9  Neauroma       3           2              4
  10  Tamatama       6          10             10
  11    Kokoon       4           9              3
  12    Pigeon      16          15             12
  13     Camel       8          11             10

## จากตารางข้อมูลที่กำหนดให้ จงทำการคำนวณและแสดงผลของข้อมูลต่อไปนี้

### a. คำนวณผลรวมของชนิด pokemon ที่มีอยู่ว่าแต่ละชนิดถูกพบและจับได้จำนวนอย่างละเท่าใด -> READ

In [9]:
# READ
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, (FOUND_NO + CAUGHT_NO) AS SUM_FOUND_CAUGHT FROM CATCH_POKEMON")

df = get_data(cursor)
conn.close()
print("Operation done successfully");
df

Operation done successfully

      KIND  SUM_FOUND_CAUGHT
    Pikasu                17
  Carpeter                23
    Beedle                56
     Poppo                26
   Koratta                28
  Onitsumi                34
      Arbo                45
   Konpang                17
  Neauroma                 9
  Tamatama                26
    Kokoon                13
    Pigeon                43
     Camel                29

### b. คำนวณค่าสัดส่วนร้อยละของจำนวนที่จับได้ต่อจำนวนที่พบ โดยแสดงเป็น column ใหม่ชื่อ performance -> CREATE + UPDATE + READ

In [10]:
# CREATE
conn = sqlite3.connect('pokemon.db')

with conn:
  cursor = conn.execute("ALTER TABLE CATCH_POKEMON ADD COLUMN PERFORMANCE")

conn.close()
print("Operation done successfully")

Operation done successfully

In [11]:
# UPDATE (To divide change CATCH_NO or FOUND_NO to float first)
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute("UPDATE CATCH_POKEMON set PERFORMANCE = (CAUGHT_NO * 1.0/FOUND_NO)*100")
  print("Total number of rows updated :", conn.total_changes)

conn.close()
print("Operation done successfully");

Total number of rows updated : 13
Operation done successfully

In [12]:
# READ
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT * FROM CATCH_POKEMON")

df = get_data(cursor)
conn.close()
print("Operation done successfully");
df

Operation done successfully

  ID      KIND  FOUND_NO  CAUGHT_NO  PERFORMANCE
   1    Pikasu        10          7    70.000000
   2  Carpeter        15          8    53.333333
   3    Beedle        32         24    75.000000
   4     Poppo        17          9    52.941176
   5   Koratta        16         12    75.000000
   6  Onitsumi        20         14    70.000000
   7      Arbo        28         17    60.714286
   8   Konpang        12          5    41.666667
   9  Neauroma         5          4    80.000000
  10  Tamatama        18          8    44.444444
  11    Kokoon         8          5    62.500000
  12    Pigeon        26         17    65.384615
  13     Camel        17         12    70.588235

### c. แสดงผลโดยจัดเรียงตามชื่อชนิดของ pokemon -> READ

In [13]:
# ASC (Ascending น้อยไปมาก ORDER BY A-Z)
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT * FROM CATCH_POKEMON ORDER BY KIND ASC")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID      KIND  FOUND_NO  CAUGHT_NO  PERFORMANCE
   7      Arbo        28         17    60.714286
   3    Beedle        32         24    75.000000
  13     Camel        17         12    70.588235
   2  Carpeter        15          8    53.333333
  11    Kokoon         8          5    62.500000
   8   Konpang        12          5    41.666667
   5   Koratta        16         12    75.000000
   9  Neauroma         5          4    80.000000
   6  Onitsumi        20         14    70.000000
  12    Pigeon        26         17    65.384615
   1    Pikasu        10          7    70.000000
   4     Poppo        17          9    52.941176
  10  Tamatama        18          8    44.444444

### d. จากตารางที่ 1 แสดงผลตามเรียงตามลำดับของจำนวนที่พบแต่จับไม่ได้เป็นลำดับแรก และจำนวนที่พบและจับได้เป็นลำดับสอง(โดยเรียงจากมากไปน้อย) -> READ

In [14]:
# DESC (Descanding มากไปน้อย ORDER BY Z-A)
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT * FROM CATCH_POKEMON ORDER BY FOUND_NO DESC, CAUGHT_NO DESC")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID      KIND  FOUND_NO  CAUGHT_NO  PERFORMANCE
   3    Beedle        32         24    75.000000
   7      Arbo        28         17    60.714286
  12    Pigeon        26         17    65.384615
   6  Onitsumi        20         14    70.000000
  10  Tamatama        18          8    44.444444
  13     Camel        17         12    70.588235
   4     Poppo        17          9    52.941176
   5   Koratta        16         12    75.000000
   2  Carpeter        15          8    53.333333
   8   Konpang        12          5    41.666667
   1    Pikasu        10          7    70.000000
  11    Kokoon         8          5    62.500000
   9  Neauroma         5          4    80.000000

### e. แสดงชื่อชนิดของ pokemon ที่มีค่า performance >= 65% -> READ

In [15]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT * FROM CATCH_POKEMON WHERE PERFORMANCE >= 65")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID      KIND  FOUND_NO  CAUGHT_NO  PERFORMANCE
   1    Pikasu        10          7    70.000000
   3    Beedle        32         24    75.000000
   5   Koratta        16         12    75.000000
   6  Onitsumi        20         14    70.000000
   9  Neauroma         5          4    80.000000
  12    Pigeon        26         17    65.384615
  13     Camel        17         12    70.588235

### f. แสดงชนิดของ pokemon เพียง 2 ขนิดที่มีค่า performance สูงสุด และต่ำสุด -> READ

pokemon ที่มีค่า performance สูงสุด

In [16]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT ID, KIND, FOUND_NO, CAUGHT_NO, max(PERFORMANCE) AS PERFORMANCE FROM CATCH_POKEMON ")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID      KIND  FOUND_NO  CAUGHT_NO  PERFORMANCE
   9  Neauroma         5          4         80.0

pokemon ที่มีค่า performance ต่ำสุด

In [17]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT ID, KIND, FOUND_NO, CAUGHT_NO, min(PERFORMANCE) AS PERFORMANCE FROM CATCH_POKEMON")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID     KIND  FOUND_NO  CAUGHT_NO  PERFORMANCE
   8  Konpang        12          5    41.666667

pokemon ที่มีค่าสูงสุดและต่ำสุด

In [18]:
conn = sqlite3.connect('pokemon.db')
# WHERE PERFORMANCE < 42 OR PERFORMANCE > 79
# LIMIT 2 OFFSET 7
cursor = conn.execute("SELECT * FROM CATCH_POKEMON WHERE ID IN (8, 9)")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID      KIND  FOUND_NO  CAUGHT_NO  PERFORMANCE
   8   Konpang        12          5    41.666667
   9  Neauroma         5          4    80.000000

### g. แสดงผลรวมของชนิด pokemon ที่จับได้ จากตารางที่ 2

In [19]:
conn = sqlite3.connect("pokemon.db")

cursor = conn.execute("SELECT KIND, (SCHOOL + PLAYGROUND + SHOPPING_MALL) SUM_CAUGHT FROM FIND_POKEMON")

df = get_data(cursor)
conn.close()
print("Operation done successfully");
df

Operation done successfully

      KIND  SUM_CAUGHT
    Pikasu          17
  Carpeter          23
    Beedle          56
     Poppo          26
   Koratta          30
  Onitsumi          34
      Arbo          45
   Konpang          19
  Neauroma           9
  Tamatama          26
    Kokoon          16
    Pigeon          43
     Camel          29

### h. แสดงชนิดของ pokemon ที่เมื่อตรวจสอบแล้วพบว่าผลรวมชนิดของ pokemon จากตารางที่ 1 และ 2 ไม่ตรงกันจากนั้นให้ทำการลบ record ที่ไม่สอดคล้องกัน ออกจากตารางทั้งสอง -> READ, DELETE

In [20]:
# 1st Table
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, (FOUND_NO + CAUGHT_NO) AS TOTAL FROM CATCH_POKEMON")

df = get_data(cursor)
conn.close()
print("Operation done successfully");
df

Operation done successfully

      KIND  TOTAL
    Pikasu     17
  Carpeter     23
    Beedle     56
     Poppo     26
   Koratta     28
  Onitsumi     34
      Arbo     45
   Konpang     17
  Neauroma      9
  Tamatama     26
    Kokoon     13
    Pigeon     43
     Camel     29

In [21]:
# 2nd Table
conn = sqlite3.connect("pokemon.db")

cursor = conn.execute("SELECT KIND, (SCHOOL + PLAYGROUND + SHOPPING_MALL) AS TOTAL FROM FIND_POKEMON")

df = get_data(cursor)
conn.close()
print("Operation done successfully");
df

Operation done successfully

      KIND  TOTAL
    Pikasu     17
  Carpeter     23
    Beedle     56
     Poppo     26
   Koratta     30
  Onitsumi     34
      Arbo     45
   Konpang     19
  Neauroma      9
  Tamatama     26
    Kokoon     16
    Pigeon     43
     Camel     29

In [22]:
# FIND DISTINCT
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute('''SELECT DISTINCT ID, KIND, (SCHOOL + PLAYGROUND + SHOPPING_MALL) AS SUM_T2
                         FROM FIND_POKEMON
                         WHERE SUM_T2 Not IN
                         (SELECT DISTINCT (FOUND_NO + CAUGHT_NO) AS SUM_T1 FROM CATCH_POKEMON)''')

df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID     KIND  SUM_T2
   5  Koratta      30
   8  Konpang      19
  11   Kokoon      16

In [23]:
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute('''CREATE TABLE DISTINCT_POKEMON
        (ID INTEGER PRIMARY  KEY  NOT NULL,
         KIND        TEXT    NOT NULL,
         SUM_T1      INT     NOT NULL,
         SUM_T2      INT     NOT NULL)''')

conn.close()
print("Table created successfully")

Table created successfully

In [24]:
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute("INSERT INTO DISTINCT_POKEMON (ID, KIND, SUM_T1, SUM_T2) VALUES (5, 'Koratta', 28, 30)")
  conn.execute("INSERT INTO DISTINCT_POKEMON (ID, KIND, SUM_T1, SUM_T2) VALUES (8, 'Konpang', 17, 19)")
  conn.execute("INSERT INTO DISTINCT_POKEMON (ID, KIND, SUM_T1, SUM_T2) VALUES (11, 'Kokoon', 13, 16)")
  conn.commit()

conn.close()
print("Records created successfully")

Records created successfully

In [25]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, SUM_T1, SUM_T2 FROM DISTINCT_POKEMON")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

     KIND  SUM_T1  SUM_T2
  Koratta      28      30
  Konpang      17      19
   Kokoon      13      16

In [26]:
# CREATE [SUM_POKEMON]
conn = sqlite3.connect('pokemon.db')
with conn:
  cursor = conn.execute("ALTER TABLE CATCH_POKEMON ADD COLUMN SUM_POKEMON")
conn.close()
print("Operation done successfully")

Operation done successfully

In [27]:
# UPDATE [SUM_POKEMON]
conn = sqlite3.connect('pokemon.db')
with conn:
  conn.execute("UPDATE CATCH_POKEMON set SUM_POKEMON = FOUND_NO + CAUGHT_NO")
  print("Total number of rows updated :", conn.total_changes)
conn.close()
print("Operation done successfully")

Total number of rows updated : 13
Operation done successfully

In [28]:
# CREATE [SUM_FIND]
conn = sqlite3.connect('pokemon.db')
with conn:
  cursor = conn.execute("ALTER TABLE FIND_POKEMON ADD COLUMN SUM_FIND")
conn.close()
print("Operation done successfully")

Operation done successfully

In [29]:
# UPDATE [SUM_FIND]
conn = sqlite3.connect('pokemon.db')
with conn:
  conn.execute("UPDATE FIND_POKEMON set SUM_FIND = SCHOOL + PLAYGROUND + SHOPPING_MALL")
  print("Total number of rows updated :", conn.total_changes)
conn.close()
print("Operation done successfully")

Total number of rows updated : 13
Operation done successfully

In [30]:
# DELETE [CATCH_POKEMON]
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute("DELETE from CATCH_POKEMON where ID IN (5, 8, 11)")

cursor = conn.execute("SELECT * from CATCH_POKEMON")
df = get_data(cursor)

conn.close()
print("Operation done successfully");
df

Operation done successfully

  ID      KIND  FOUND_NO  CAUGHT_NO  PERFORMANCE  SUM_POKEMON
   1    Pikasu        10          7    70.000000           17
   2  Carpeter        15          8    53.333333           23
   3    Beedle        32         24    75.000000           56
   4     Poppo        17          9    52.941176           26
   6  Onitsumi        20         14    70.000000           34
   7      Arbo        28         17    60.714286           45
   9  Neauroma         5          4    80.000000            9
  10  Tamatama        18          8    44.444444           26
  12    Pigeon        26         17    65.384615           43
  13     Camel        17         12    70.588235           29

In [31]:
# DELETE [FIND_POKEMON]
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute("DELETE from FIND_POKEMON where ID IN (5, 8, 11)")

cursor = conn.execute("SELECT * from FIND_POKEMON")
df = get_data(cursor)

conn.close()
print("Operation done successfully");
df

Operation done successfully

  ID      KIND  SCHOOL  PLAYGROUND  SHOPPING_MALL  SUM_FIND
   1    Pikasu       5           7              5        17
   2  Carpeter       8           5             10        23
   3    Beedle      18          13             25        56
   4     Poppo      10           7              9        26
   6  Onitsumi      11           9             14        34
   7      Arbo      15          22              8        45
   9  Neauroma       3           2              4         9
  10  Tamatama       6          10             10        26
  12    Pigeon      16          15             12        43
  13     Camel       8          11             10        29

### *หลังจากทำการตัดข้อมูลที่ไม่สอดคล้อง* แล้วให้ดำเนินการต่อไปนี้

### i. คำนวณผลรวมใหม่ของจำนวน pokemon ที่พบได้ตามสถานที่ต่างๆ โดยสร้างตารางเก็บผลรวมขึ้นมาใหม่ชื่อว่า all_pokemon  (กำหนดให้ตารางมีข้อมูล primary key, ชื่อของชนิด pokemon และจำนวนผลรวม โดยนักศึกษากำหนดชื่อคอลัมน์เหล่านี้ได้เอง) -> CREATE

In [32]:
# CREATE ALL_POKEMON
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute('''CREATE TABLE ALL_POKEMON
         (ID INTEGER PRIMARY KEY AUTOINCREMENT,
         KIND      TEXT    NOT NULL,
         TOTAL     INT     NOT NULL)
         ''')

conn.close()
print("Table created successfully")

Table created successfully

In [33]:
# INSERT
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Pikasu', 17)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Carpeter', 23)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Beedle', 56)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Poppo', 26)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Onitsumi', 34)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Arbo', 45)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Neauroma', 9)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Tamatama', 26)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Pigeon', 43)")
  conn.execute("INSERT INTO ALL_POKEMON (KIND, TOTAL) VALUES ('Camel', 29)")
  conn.commit()

conn.close()
print("Records created successfully")

Records created successfully

In [34]:
# QUERY
conn = sqlite3.connect('pokemon.db')

with conn:
  cursor = conn.execute("SELECT * FROM ALL_POKEMON")

df=get_data(cursor)
conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID      KIND  TOTAL
   1    Pikasu     17
   2  Carpeter     23
   3    Beedle     56
   4     Poppo     26
   5  Onitsumi     34
   6      Arbo     45
   7  Neauroma      9
   8  Tamatama     26
   9    Pigeon     43
  10     Camel     29

### j. จากข้อมูลในตารางที่ 2 แสดงชื่อชนิดของ pokemon ที่พบได้มากที่สุดแยกตามประเภทสถานที่ คือ playground pokemon ชนิดใดพบมากที่สุด, school พบ pokemon ชนิดใดมากที่สุด และ shopping mall พบชนิดใดมากที่สุด -> READ

PLAYGROUND

In [35]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT ID, KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL FROM FIND_POKEMON ORDER BY PLAYGROUND DESC LIMIT 1")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID  KIND  SCHOOL  PLAYGROUND  SHOPPING_MALL
   7  Arbo      15          22              8

SCHOOL

In [36]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT ID, KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL FROM FIND_POKEMON ORDER BY SCHOOL DESC LIMIT 1")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID    KIND  SCHOOL  PLAYGROUND  SHOPPING_MALL
   3  Beedle      18          13             25

SHOPPING_MALL

In [37]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT ID, KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL FROM FIND_POKEMON ORDER BY SHOPPING_MALL DESC LIMIT 1")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

  ID    KIND  SCHOOL  PLAYGROUND  SHOPPING_MALL
   3  Beedle      18          13             25

### k. แสดงข้อมูลที่ระบุว่า pokemon แต่ละชนิดนั้นพบถูกพบในสถานที่ใดมากที่สุด เช่น Pikasu พบที่ playground มากที่สุด Carpenter พบที่ shopping mall มากที่สุด และชนิดที่เหลือแต่ละชนิดพบที่ใดมากที่สุด

In [38]:
# CREATE [PLACE]
conn = sqlite3.connect('pokemon.db')
with conn:
  cursor = conn.execute("ALTER TABLE FIND_POKEMON ADD COLUMN PLACE")
conn.close()
print("Operation done successfully")

Operation done successfully

In [39]:
conn = sqlite3.connect('pokemon.db')

with conn:
  conn.execute("UPDATE FIND_POKEMON set PLACE = 'SCHOOL' where (SCHOOL >= PlAYGROUND AND SCHOOL >= SHOPPING_MALL)")
  conn.execute("UPDATE FIND_POKEMON set PLACE = 'PLAYGROUND' where (PLAYGROUND >= SCHOOL AND PLAYGROUND >= SHOPPING_MALL)")
  conn.execute("UPDATE FIND_POKEMON set PLACE = 'SHOPPING_MALL' where (SHOPPING_MALL >= SCHOOL AND SHOPPING_MALL >= PLAYGROUND)")
  print("Total number of rows updated :", conn.total_changes)

conn.close()
print("Operation done successfully");

Total number of rows updated : 11
Operation done successfully

In [40]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, PLACE FROM FIND_POKEMON")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

      KIND          PLACE
    Pikasu     PLAYGROUND
  Carpeter  SHOPPING_MALL
    Beedle  SHOPPING_MALL
     Poppo         SCHOOL
  Onitsumi  SHOPPING_MALL
      Arbo     PLAYGROUND
  Neauroma  SHOPPING_MALL
  Tamatama  SHOPPING_MALL
    Pigeon         SCHOOL
     Camel     PLAYGROUND

### l. ให้ระบุว่า pokemon ชนิดที่พบและจับได้มากที่สุดคือชนิดใด และพบในสถานที่ใดมากที่สุด (นำข้อมูลการพบและจับได้จากตารางที่ 1 มาพิจารณาว่าชนิดใดจับได้มากที่สุด จากนั้นนำไปหาในตารางที่ 2 ว่าสถานที่ใดที่พบ pokemon ชนิดนี้มากที่สุดจาก 3 สถานที่) -> READ

In [41]:
# ชนิดที่พบและจับได้มากที่สุดจากตารางที่ 1
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, SUM_POKEMON FROM CATCH_POKEMON ORDER BY SUM_POKEMON DESC LIMIT 1")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

    KIND  SUM_POKEMON
  Beedle           56

In [42]:
# สถานที่ที่พบ pokemon ชนิดนี้มากที่สุดจากตารางที่ 2
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, PLACE FROM FIND_POKEMON WHERE KIND = 'Beedle'")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

    KIND          PLACE
  Beedle  SHOPPING_MALL

### m. ให้ระบุว่า pokemon ที่มี performance มากที่สุดคือชนิดใดและนำไปค้นหาในตารางที่ 2 ว่าพบในสถานที่ใดมากที่สุด

In [43]:
# นำข้อมูลจากตารางที่ 1 มาพิจารณาว่าชนิดใด performance มากที่สุด
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, PERFORMANCE FROM CATCH_POKEMON ORDER BY PERFORMANCE DESC LIMIT 1")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

      KIND  PERFORMANCE
  Neauroma         80.0

In [44]:
# สถานที่ที่พบ pokemon ชนิดนี้มากที่สุดจากตารางที่ 2
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, PLACE FROM FIND_POKEMON WHERE KIND = 'Neauroma'")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

      KIND          PLACE
  Neauroma  SHOPPING_MALL

### n. แสดงจำนวน pokemon ที่พบได้ในแต่ละสถานที่โดยเรียงลำดับตามชื่อตัวอักษรจากน้อยไปหามาก -> READ

In [45]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, SCHOOL, PLAYGROUND, SHOPPING_MALL FROM FIND_POKEMON ORDER BY KIND ASC")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

      KIND  SCHOOL  PLAYGROUND  SHOPPING_MALL
      Arbo      15          22              8
    Beedle      18          13             25
     Camel       8          11             10
  Carpeter       8           5             10
  Neauroma       3           2              4
  Onitsumi      11           9             14
    Pigeon      16          15             12
    Pikasu       5           7              5
     Poppo      10           7              9
  Tamatama       6          10             10

### o. แสดงค่าเฉลี่ยของจำนวน pokemon แต่ละชนิดที่จับได้ โดยเรียงลำดับตามค่าเฉลี่ยจากมากไปน้อย -> READ

In [47]:
conn = sqlite3.connect('pokemon.db')

cursor = conn.execute("SELECT KIND, (SCHOOL + PLAYGROUND + SHOPPING_MALL)/3.0 AS MEAN FROM FIND_POKEMON ORDER BY MEAN DESC")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

Operation done successfully

      KIND       MEAN
    Beedle  18.666667
      Arbo  15.000000
    Pigeon  14.333333
  Onitsumi  11.333333
     Camel   9.666667
     Poppo   8.666667
  Tamatama   8.666667
  Carpeter   7.666667
    Pikasu   5.666667
  Neauroma   3.000000